a {
    color: mediumpurple;
    text-decoration: none;
}
a:link {

}
a:visited {
    color: orchid;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: red;
    text-decoration-style: dotted;
}
::selection {
    background-color: red;
}
::first-line {
    text-transform: uppercase;
}
.dropdown {
    background-color: skyblue;
    position: absolute;
}
.magic {
    display: none;
    position: absolute;
    top: 1em;
    background-color: silver;
    border-radius: 5px;
}
.dropdown:hover .magic {
    display: block;
}
.trans {
    background-color: orange;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: rotate(20deg) scale(2, 2);
    transition: 2s;
    /*transition: top 2s;*/
}
.trans:hover {
    /*top: 20%;*/
    background-color: springgreen;
}
.trans2 {
    background-color: cornflowerblue;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 30px;
    transform: rotate(-30deg);
    transform-origin: top left;
    transition: 2s;
}
