body {
    height: 1000px;
}
div div {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.container {
    background-color: lightcoral;
    width: 300px;
    position: relative;
    left: 30%;
}
div div:first-child {
    background-color: yellow;
    position: absolute;

}
div div:nth-last-child(2){
    background-color: lightskyblue;
    position: fixed;
    top: 40%;
    left: 50%;
}
div div:nth-last-child(3){
    background-color: rgb(230, 15, 15);
    position: sticky;
    top: 10%;
    left: 10%;
}

div div:last-child {
    background-color: lightblue;
    position: relative;
    bottom: 10px;
    left: 150px;
}
